
body{
    color:black;
    margin:4px;
    
}
h1{
    font-size:45px;
    color: white;
    background-color: #335565;
    text-align: center;
    margin: 10px;
    padding : 10px;
}
h2{
    margin: 0;
}

#top{
    margin: 50px;
    padding: 10px;
}

#nightmode{
    font-size: 5px;
    text-align: center;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    border-left:2px solid gray;
    border-right:2px solid gray;
    margin:0;
    padding:20px;
    
}
/* 여기가 박스를 나누는 구간이다. grid-template-columns*/
#base{
    display: grid;
    grid-template-columns: 150px 2fr;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}
/* 여기까지 박스를 나누는 구간 */
/* border line에 중복 코드 존재하는거 나중에 지우기 */
#base #judo{
    
    font-size:15px;
 
    padding:20px;
    padding-left: 35px;
    width: 500px;
    
}

#base #menu{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;  
    border-right:2px solid gray;
    margin:0;
    padding:30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100px
    
}
a{ 
    text-decoration-line: none;
    color:black;

}
